.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  width: 300px;
  border: 2px solid black;
}

.listContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  border: 2px solid red;

  width: 200px;
}

.eachEmployee {
  border: 2px solid yellow;
}

.selectedEmployee {
  border: 2px solid blue;
}

.profilePic {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: grey;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.gridLayout {
  display : grid;
  grid-template-columns: repeat(5, 1fr);
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height : 200px;
  border-radius: 20%;
  background-color: lightblue;
  margin: 20px;
  border: 5px solid blue;
}

.todoContainer {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 1000px;
  background-color: grey;
  border: 2px solid white;
  align-items: center;
  justify-content: center;
}